:root {
  --main: #1E1EBE;
  --secondary1: #1E78BE;
  --secondary2: #BE1E78;
  --gray: #BEBEBE;
  --black: #1E1E1E;
  --white-font: #F0F0F0;
}
*{
  font-family: FontAwesome;
  transition: 0.7s;
  border: none;
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: var(--white-font);
  overflow-x: hidden;
}
.header{
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--black);
}
.header1{
  height: 5vh;
  width: 100vw;
  background-color: var(--main);
  display: flex;
  justify-content: end;
}
.header1-list{
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  height: 5vh;
  margin: 0;
  margin-right: 2vw;
}
.header1-list > *{
  margin: auto 0.5vw;
  list-style-type: none;
  font-weight: bold;
  color:var(--gray);
  font-size: 18px;
}
.header1-list > * > a{
  color: var(--white-font);
  padding: 0.5vh 0.5vw;
  border-radius: 10px;
}
.header1-list > * > a:hover{
  background-color: var(--gray);
  color: var(--black);
}
.mag::after{
  content: "\f002";
}
.header2{
  width: 100vw;
  height: 15vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    var(--secondary1),
    var(--gray),
    var(--secondary2)
  );
}
.header2-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 2vw auto 2vw;
  height: 12vh;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.header2-img{
  height: 12vh;
  aspect-ratio: 16/9;
}
.header2-img:hover{
  height: 15vh;
}
.header2-title{
  display: flex;
  align-items: center;
  text-align: center;
}
.header2-options{
  margin: auto 2vw auto auto;
  width: 40vw;
  height: 12vh;
  background-color: var(--black);
}