:root {
  --bc: antiquewhite;
}
*{
  font-family: FontAwesome;
  transition: 0.7s;
  border: none;
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: #dadada;
  overflow-x: hidden;
}
.header{
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
}
.header1{
  height: 5vh;
  width: 100vw;
  background-color: rgb(30, 30, 120);
  display: flex;
  justify-content: end;
}
.header1-list{
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  height: 5vh;
  margin: 0;
  margin-right: 3vw;
}
.header1-list > *{
  margin: auto 1vw;
  list-style-type: none;
  font-weight: bold;
  color:white;
}
.header1-list > *:hover{
  text-shadow: 0 0 20px white;
  color: black;
}
.header2{
  width: 100vw;
  height: 15vh;
  display: flex;
  background-color: antiquewhite;
}